<!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-8">

                <p id="notice"><%= notice %></p>

                <h1 class="page-header">
                    Listing Posts
                    <small>Secondary Text</small>
                </h1>

                <!-- Blog Post List -->
                <% @posts.each do |post| %>
                  <h2>
                      <%= link_to post.title, post %>
                  </h2>
                  <p class="lead">
                      by <a href="index.php">SilverFox</a>
                  </p>
                  <p><span class="glyphicon glyphicon-time"></span><%= post.created_at.to_formatted_s(:long_ordinal) %></p>
                  <hr>
                  <img class="img-responsive" src="http://placehold.it/900x300" alt="">
                  <hr>
                  <p><%= sanitize(excerpt(post.content," ", radius: 240))%></p>
                  <a class="btn btn-primary" href="posts/<%=post.id%>">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>
                <% end %>
                <hr>

                <!-- Pager -->
                <ul class="pager">
                  <% if @start > 1 && @posts.length > 2%>
                    <li class="previous">
                      <%= link_to raw("&larr; Older"), posts_path(start: @start - 3) %>
                    </li>
                  <% end %>
                  <% if !@limit %>
                    <li class="next">
                      <%= link_to raw("Newer &rarr;"), posts_path(start: @start + 3) %>
                    </li>
                  <% end %>
                </ul>

            </div>

            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4">

                <!-- Blog Search Well -->
                <div class="well">
                    <h4>Blog Search</h4>
                    <div class="input-group search-group">
                      <%= search_form_for @search do |f| %>
                        <%= f.text_field :title_or_content_cont,  placeholder: "Search Posts" %>
                        <%= f.submit "Search", class: "search-button" %>
                      <% end %>
                    </div>
                    <!-- /.input-group -->
                </div>

                <!-- Blog Categories Well -->
                <div class="well">
                    <h4>Blog Categories</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                              <li><%= link_to "All", posts_path(category: "All") %>
                              </li>
                              <% @categories[0..2].each do |cat| %>
                                <li><%= link_to "#{cat}", posts_path(category: cat) %>
                                </li>
                              <% end %>  
                            </ul>
                        </div>
                        <!-- /.col-lg-6 -->
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                              <% if @columns %>
                                <% @categories.from(@split_at).each do |cat| %>
                                <li><%= link_to "#{cat}", posts_path(category: cat) %>
                                </li>
                                <% end %>
                              <% end %>  
                            </ul>
                        </div>
                        <!-- /.col-lg-6 -->
                    </div>
                    <!-- /.row -->
                </div>

                <!-- Side Widget Well -->
                <div class="well">
                    <h4>Side Widget Well</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
                </div>

            </div>

        </div>
        <!-- /.row -->

        <hr>

<br>

<% if admin_user_signed_in? %>
  <%= link_to 'New Post', new_post_path %>
<% end %>
